@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sec-container {
    @apply px-6 sm:px-10 md:px-16 lg:px-24;
  }
  .title {
    @apply text-2xl md:text-4xl lg:text-5xl font-bold;
  }

  .nav-item {
    @apply px-4 text-sm rounded-full py-1.5 font-semibold text-white/70 transition duration-500 hover:bg-white/10 hover:text-white;
  }
  .hero-ring {
    @apply absolute inset-0  border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

.custom-marker-icon {
  background: transparent !important;
  border: none !important;
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.custom-pin-container {
  position: relative;
  width: 80px;
  height: 80px;
}
.react-modal-sheet-container {
  background-color: #222f43 !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}
@media (min-width: 800px) {
  .react-modal-sheet-container {
    width: 400px !important;
    right: 20px !important;
    /* left: none !important; */
  }
}
